"no d :action VimMotionLeft<CR>
"no h :action VimMotionDown<CR>
"no t :action VimMotionUp<CR>
"no n :action VimMotionRight<CR>
"no h j
"no d h
"no t k
"no n l
"no s :
"no S ;
"no j d
"no l n
"no L N
"no k t

"no - $
"no N :action VimMotionNextTab<CR>
"no D :action VimMotionPreviousTab<CR>
"no T 8<Up>
"no H 8<Down>
"no _ ^


let mapleader = " "

inoremap jk <Esc>
inoremap kv <Esc>

nmap <leader>t :action ActivateTerminalToolWindow<CR>
nmap <leader>kk :action CloseActiveTab<CR>
